.footer {
    background-color: #5772B1;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #1abc9c;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
}
